.game-status-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  width: fit-content;
  padding-left: 5px;
  cursor: pointer;
  justify-content: space-between;
}
.game-status-btn button {
  border: none;
  outline: none;
  font-family: inherit;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  color: var(--dark-blue);
}
.game-status-btn > svg {
  font-size: 1.2rem;
}
.dropdown-icon svg {
  font-size: 2rem;
  vertical-align: middle;
}

.dropdown-icon:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: max-content;
  background-color: var(--secondary-color);
  top: 32px;
  right: 0;
  padding: 0 5px;
}
.dropdown-content > button {
  display: block;
  cursor: pointer;
}
