:root {
  --primary-color: #e5414e;
  --secondary-color: #c7d5e0;
  --off-white: #FAF9F6;
}

/* utility classes */
.mobile {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none !important;
  }
}