:root {
  --primary-color: #e5414e;
  --secondary-color: #c7d5e0
}

/* utility classes */
.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}